<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
</head>

<body>
    <header class="d-flex flex-row">
        <div class="row">
            <div class="logo">
                <h2>CINEMA MANA</h2>
            </div>
        </div>
        <div class="avatar-admin d-flex flex-row">
            <div class="avatar">
                <img src="https://tse2.mm.bing.net/th?id=OIP.r5c3LIjTtHGBidy9KheKNgHaFn&pid=Api&P=0&h=220">
            </div>
            <div class="name">
                <h5>ADMIN</h5>
            </div>
        </div>
    </header>
    <div class="container-fluid d-flex flex-row">
        <aside>
            <div class="list-group">
                <button onclick="window.location.href = '/category'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-stack"></i>Category</button>
                <button onclick="window.location.href = '/movie'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-film"></i>Movie</button>
                <button onclick="window.location.href = '/showtimes'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-clock"></i>Showtimes</button>
                <button onclick="window.location.href = '/user'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-person"></i>User</button>
                <button onclick="window.location.href = '/ticket'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-ticket-detailed"></i>Ticket</button>
            </div>
        </aside>
        <article>
            {{{body}}}
        </article>
    </div>
    <script src="/javascripts/main.js"></script>
</body>

</html>
                {{!-- <button onclick="window.location.href = '/statistical'" type="button"
                    class="list-group-item list-group-item-action"><i class="bi bi-bar-chart"></i>Statistical</button> --}}